<script>

  var element = document.getElementById("message-box-12");
  var form = document.getElementById("send_message");
  var input = document.getElementById("text_value");
  var container1 = document.getElementById("container_mes_1");
  var input_file = document.getElementById("image_input");
  var isFile = false;
  var correct_file = ["mp4", "avi", "flv", "wmv", "mov", "mpeg", "divx", "3gp", "MP4", "AVI", "FLV", "WMV", "MOV", "MPEG", "3GP", "jpg", "JPG", "png", "PNG", "gif", "GIF"];
  var video = ["mp4", "avi", "flv", "wmv", "mov", "mpeg", "divx", "3gp", "MP4", "AVI", "FLV", "WMV", "MOV", "MPEG", "3GP"]
  input_file.onchange = function () {
    isFile = true;
  }
  form.addEventListener("input",(e)=>{
    // event typing
    socket.emit("typing",{
      UserSession: "<%=userSession.name%>",
      User: "<%=user.name%>"
    });
  });
  //listen event typing 
  socket.on("typing_server",data=>{
       document.getElementById("typing").style.display="flex ";
       document.getElementById("seen").style.display="flex";
    })
    // event check seen
    socket.on("check-seen-sv",async ()=>{
         document.getElementById("seen").remove();
         var param = document.createElement("img");
         param.setAttribute("id", "seen");
         param.setAttribute("class", "avatar-sm border rounded-circle");
         param.setAttribute("width","12");
         param.setAttribute("height","12");
         param.setAttribute("src","/public/image/avatar/<%=user.avatar%>")
         param.style.float="right"
         await container1.appendChild(param);    
  })
  // send message
  form.addEventListener("submit", e => {
      var message = input.value;
      if(isFile == false && message == ""){
        e.preventDefault();
      }
    if (isFile == false && message != "") {
         var mes = input.value;
         e.preventDefault();
         socket.emit("client_send_mes", {
         mes: mes,
         UserSession: "<%=userSession.name%>",
         User: "<%=user.name%>",
         file_name: ""
      });
      // check link text
      var index = mes.indexOf("https://");
      if (index != -1) {
        var url = mes.slice(index, mes.length);
        var mess = mes.slice(0, index);
      }
      // append message in user-send's boxchat 
      var param = document.createElement("li");
      param.setAttribute("class", "messages-me clearfix");
      if (index == -1) {
        param.innerHTML = `<div class="message-body clearfix">                               
                                  <div class="message-header" style="height: 39px;">
                                    <small class="time-messages text-muted">
                                          <span class="fas fa-time"></span>${new Date().getHours()}:${new Date().getMinutes()}-${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}
                                      </small>                                 
                                  </div>
                           </div>
                           <p class="messages-p" style="border-radius: 14px 14px 0px 14px; background-color:#1877F2; color: white;">${mes}</p> `;
      } else {
        //link-text
        $.ajax({
          url:"http://localhost:3000/send_message/link_text",
          type:"POST",
          dataType:"json",
          data:{
            link:url,
            mess:mess
          },
          success:(kq)=>{
            param.innerHTML= ` <div class="message-body clearfix" >
                                  <div class="message-header" style="height: 39px;">
                                    <small class="time-messages text-muted">
                                          <span class="fas fa-time"></span>${new Date().getHours()}:${new Date().getMinutes()}-${new Date().getDate()}/${new Date().getMonth() + 1}/${new Date().getFullYear()}
                                      </small>                                 
                                  </div>
                                  <p class="messages-p" style="background-color: #1877F2; border-radius: 14px; ">${kq.mess}
                                    <a href="${url}" target="_blank" style="color:black; text-decoration:underline black ;padding:8px" >${url}<br/>
                                      <img src="${kq.preview.image}"  alt="" style="max-height: 200px; min-width:100%; border-radius:10px" class="img-fluid">
                                      <br/>
                                    </a>
                                    ${kq.preview.title}
                                  </p>
                               </div> `
          }
        });
      }
      container1.appendChild(param);
      element.scrollTop = element.scrollHeight+100;
      document.getElementById("text_value").value = "";
    }
    // check file type
    if (isFile == true) {
      var file_name = input_file.value;
      file_name = file_name.replace(/C:\\fakepath\\/i, '');
      socket.emit("client_send_file_mes", {
          mes: message,
          UserSession: "<%=userSession.name%>",
          User: "<%=user.name%>",
          file_name: file_name
        });   
    }
    socket.emit("done_typing","Done typing");
    document.getElementById("seen").style.display="none";
  });
  // listen event server send file
  socket.on("server_send_file_mes", data => {
    var param = document.createElement("li");
    param.setAttribute("class", "messages-you clearfix");
    setTimeout(() => {
      // image file
      if (data.type == "jpg" || data.type == "png" || data.type == "gif") {
        if (data.message != "") {
          param.innerHTML = ` <div class="message-body clearfix">
                                   <div class="message-header" style="height: 39px;">
                                       <a class="messages-title" href="/profile/<%=user.name%>"><img src="/public/image/avatar/<%=user.avatar%>" alt="User Avatar"
                                           class="avatar-sm border rounded-circle" width="35" height="35"> <%=user.name%></a>
                                   </div>
                                       <div class="image_file_you">
                                           <img src="/public/image/${data.file_name}" alt="" class="img-fluid" style="border-radius: 10px;" >
                                       </div>
                                </div>
                                   <p class="messages-p" style="background-color: #F2F3F5; border-radius: 14px;">
                                         ${data.message}
                                  </p> `
        } else {
          param.innerHTML = ` <div class="message-body clearfix">                               
                                   <div class="message-header" style="height: 39px;">
                                       <a class="messages-title" href="/profile/<%=user.name%>"><img src="/public/image/avatar/<%=user.avatar%>" alt="User Avatar"
                                           class="avatar-sm border rounded-circle" width="35" height="35"> <%=user.name%></a>      
                                   </div>
                                       <div class="image_file_you">
                                           <img src="/public/image/${data.file_name}" alt="" class="img-fluid" style="border-radius: 10px;" >
                                       </div>
                              </div> `
        }
        container1.appendChild(param);
      }
      // video file
      else if (video.includes(data.type) == true) {
        if (data.message != "") {
          param.innerHTML = ` <div class="message-body clearfix">                           
                                   <div class="message-header" style="height: 39px;">
                                       <a class="messages-title" href="/profile/<%=user.name%>"><img src="/public/image/avatar/<%=user.avatar%>" alt="User Avatar"
                                           class="avatar-sm border rounded-circle" width="35" height="35"> <%=user.name%></a>                            
                                   </div>
                                      <div class="image_file_you">
                                        <video controls  style="max-width: 70%;max-height: 70%; float: left;">
                                        <source src="/public/image/${data.file_name}" type="video/mp4">
                                        </video>
                                      </div>
                              </div>                           
                              <p class="messages-p" style="background-color: #F2F3F5; border-radius: 14px;">
                                  ${data.message}
                              </p> `
        } else {
          param.innerHTML = ` <div class="message-body clearfix">
                                   <div class="message-header" style="height: 39px;">
                                       <a class="messages-title" href="/profile/<%=user.name%>"><img src="/public/image/avatar/<%=user.avatar%>" alt="User Avatar"
                                           class="avatar-sm border rounded-circle" width="35" height="35"> <%=user.name%></a>   
                                   </div>
                                       <div class="image_file_you">
                                          <video controls  style="max-width: 70%;max-height: 70%; float: left;">
                                          <source src="/public/image/${data.file_name}" type="video/mp4">
                                          </video>
                                       </div>
                               </div> `
        }
        container1.appendChild(param);
      }
      // other file
      else if(correct_file.includes(data.type) == false){
          param.innerHTML=` <div class="message-body clearfix">                           
                                   <div class="message-header" style="height: 39px;">
                                       <a class="messages-title" href="/profile/<%=user.name%>"><img src="/public/image/avatar/<%=user.avatar%>" alt="User Avatar"
                                           class="avatar-sm border rounded-circle" width="35" height="35"> <%=user.name%></a>                            
                                   </div>
                                 <a href="/public/image/${data.file_name}" download>
                                     <p class="messages-p" style="border-radius: 14px 14px 0px 14px; background-color:#F2F3F5; color: black;">
                                        <i class="fas fa-file"></i>       ${data.file_name}
                                     </p>
                                 </a> 
                            </div> `
          container1.appendChild(param);
        }
      container1.scrollTop = container1.scrollHeight;
    }, 1000)

  })
  // listen event server send text
  socket.on("server_send_mes", data => {
    // event check seen
    socket.emit("check-seen",{
      UserSession: "<%=userSession.name%>",
      User: "<%=user.name%>"
    });
    // check link text
    var mes = data.message;
    var index = mes.indexOf("https://");
    if (index != -1) {
      var url = mes.slice(index, mes.length);
      var mess = mes.slice(0, index);
    }
    var param = document.createElement("li");
    param.setAttribute("class", "messages-you clearfix");
    if (data.link == 0) {
      param.innerHTML = ` <div class="message-body clearfix">                              
                                  <div class="message-header" style="height: 39px;">
                                      <a class="messages-title" href="/profile/<%=user.name%>"><img src="/public/image/avatar/<%=user.avatar%>" alt="User Avatar"
                                          class="avatar-sm border rounded-circle" width="35" height="35"><%=user.name%></a> 
                                  </div>
                                  <p class="messages-p" style="background-color: #F2F3F5; border-radius: 14px;">
                                        ${data.message}
                                  </p>
                          </div> `
    } else {
      param.innerHTML = ` <div class="message-body clearfix">
                                  <div class="message-header" style="height: 39px;">
                                      <a class="messages-title" href="/profile/<%=user.name%>"><img src="/public/image/avatar/<%=user.avatar%>" alt="User Avatar"
                                          class="avatar-sm border rounded-circle" width="35" height="35"><%=user.name%></a> 
                                  </div>
                                  <p class="messages-p" style="background-color: #F2F3F5; border-radius: 14px;">${mess}
                                    <a href="${url}" target="_blank" style="color:black; text-decoration:underline black ;padding:8px" >${url}<br/>
                                      <img src="${data.link.image}" alt="" class="img-fluid" style="max-height: 200px; min-width:100%;border-radius: 10px;" >
                                      <br/>
                                    </a>
                                    ${data.link.title}
                                  </p>
                          </div> `
    }
    container1.appendChild(param);
    element.scrollTop = element.scrollHeight;
  })                         
</script>